:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  position: relative;
  top: -40px;
  transition: color 0.3s ease;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1:hover {
  color: #98c6a4; /* Altere para a cor desejada */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.container {
  position: relative;
  margin-top: 20px;

}

.container button {
  position: absolute;
  left: -40%;
  margin-top: -1.5%;
}

.container input {
  position: absolute;
  left: -25%;
  margin-top: -0%;
  
}


.subtitle {
  text-align: left;
  margin-left: -40%;
}

.paragraph {
  text-align: left;
  margin-left: -65%;
}

.pic {
  margin-right: auto;
  margin-left: -140%;
}

.card {
  position: absolute;
  right: -40%;
  transform: translate(0, -270%);
  width: 80%;
  max-width: 500px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.card.resultado {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #98c6a4;
  transition: background-color 0.3s ease-in-out;

}

.card.resultado:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid #98c6a4;
  background-color: #aed8b5;
}


.card > * {
  margin: 5px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #98c6a4;
  text-align: center;
  
}

.dark-mode-container {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
}





